<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <!-- Header -->
<%- include('header') %>

<!-- Content -->
<div class="content" style="height:500px">
    <img src="/img/Screenshot 2024-08-19 140251.png" alt="">
</div>
    

 <!-- Footer -->
 <%- include('footer') %>
 
</body>
</html>